<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Resumen</h3>
        </div>
        <div class="card-body">
            <form action="" method="post">
                <div class="mb-3">
                    <div class="mb-2 row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Dirección Domicilio</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="inputPassword" style="width: 600px;" disabled>
                        </div>
                    </div>
                    <div class="mb-2 row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Dirección de madre o padre</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="inputPassword" style="width: 600px;" disabled>
                        </div>
                    </div>
                    <div class="mb-2 row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Dirección de empleo actual</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="inputPassword" style="width: 600px;" disabled>
                        </div>
                    </div>
                    <div class="mb-2 row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Dirección de empleo anterior</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="inputPassword" style="width: 600px;" disabled>
                        </div>
                    </div>
                </div>
            </form>
            <button (click)="Paso3()" class="btn btn-danger">Volver</button>
            <button (click)="Paso4()" class="btn btn-danger" style="margin-left: 10px;">Finalizar</button>
        </div>
    </div>
</div>